body{
    background-image: url('../images/aaa.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-position: center; 
     background-repeat: no-repeat;
    background-position: 100%;
}
ThemeProvider{
    background-color: blue;
}